---
layout: page
title: Gebloggt
permalink: "gebloggt/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
pagination:
  data: collections.blog
  size: 10
  alias: posts
---
<section>
    <h1>Gebloggt:</h1>
    {%- for post in posts -%}
    <article class="mb-4">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ post.url }}">
                    {% if post.data.teaserimage %}
                    <img src="{{ post.data.teaserimage }}" class="img-fluid" alt="{{ post.data.title | escape }}"/>
                    {% else %}
                    <img src="/assets/images/posts/nopic.preview.jpg" class="img-fluid" alt=""/>
                    {% endif %}
                </a>
            </div>
            <div class="col-md-9">
                <header>
                    <div class="teaser">{{ post.data.date | date: "%d.%m.%Y" }}</div>
                    <a href="{{ post.url }}" class="stretched-link">{{ post.data.title }}</a>
                </header>
                <p>{{ post.data.description }}</p>
            </div>
        </div>
    </article>
    {%- endfor -%}
</section>

<!-- Pagination links -->
<nav>
    <ul class="pagination">
        <li class="page-item{% unless pagination.href.previous %} disabled{% endunless %}">
            <a class="page-link" href="{{ pagination.href.previous }}" aria-label="Zurück">
                <span aria-hidden="true">&laquo;</span>
                <span class="visually-hidden">Zurück</span>
            </a>
        </li>
        <li class="page-item"><span class="page-link-text"><strong>{{ pagination.pageNumber | plus: 1 }}</strong></span></li>
        <li class="disabled"><span class="page-link-text" href="#">/</span></li>
        <li class="page-item disabled"><span class="page-link">{{ pagination.pages | size }}</span></li>
        <li class="page-item{% unless pagination.href.next %} disabled{% endunless %}">
            <a class="page-link" href="{{ pagination.href.next }}" aria-label="Weiter">
                <span aria-hidden="true">&raquo;</span>
                <span class="visually-hidden">Weiter</span>
            </a>
        </li>
    </ul>
</nav>
