---
title: Cranger Kirmes 2018
description: Das war sie auch schon wieder, die Cranger Kirmes. Damit die Tage bis zu Nächsten nicht so lang werden haben wir hier für Euch noch mal alle Rezepte unseres Kirmes-Spezials zusammengefasst.
teaserimage: /assets/images/posts/2018/kirmes-spezial/DSCN1541.preview.JPG
date: 2018-08-13
---
<section>
    <p>
        Das war sie auch schon wieder, die Cranger Kirmes. Damit die Tage bis zu Nächsten nicht so lang werden haben wir
        hier für Euch noch mal alle Rezepte unseres Kirmes-Spezials zusammengefasst.
    </p>

    <div class="row">
        {% for post in collections.crange_2018_special_collection %}
            {% include 'recipe-teaser.html', recipe: post, template: 'col' %}
        {% endfor %}
    </div>

    <h2>Die 583. Cranger Kirmes</h2>

    <p>
        Schön war's. Keine Regentage und so warm, dass selbst Eröffnungs- und Abschlussfeuerwerk abgesagt werden
        mussten. Rund 3,9 Millionen Besucher besuchten laut Stadt dieses Jahr die Cranger Kirmes - etwa 100 000 mehr als
        2017. Wir freuen uns schon jetzt auf den <a href="https://cranger-weihnachtszauber.de/" target="_blank">Cranger Weihnachtszauber</a>,
        der in diesem Winter zum ersten mal stattfinden wird.
    </p>

    <div class="row">
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1541.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1541.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1543.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1543.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1544.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1544.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1550.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1550.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1552.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1552.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1553.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1553.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1554.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1554.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1557.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1557.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1560.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1560.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1561.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1561.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1567.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1567.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1568.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1568.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1570.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1570.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1577.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1577.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1578.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1578.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1579.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1579.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1583.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1583.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1584.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1584.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1586.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1586.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1594.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1594.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1598.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1598.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1600.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1600.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1608.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1608.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1609.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1609.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1610.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1610.preview.JPG" alt=""/>
        </a>
        <a href="/assets/images/posts/2018/kirmes-spezial/DSCN1614.JPG" class="col-lg-3 col-md-4 col-6" data-fancybox="gallery">
            <img class="img-fluid mb-4" src="/assets/images/posts/2018/kirmes-spezial/DSCN1614.preview.JPG" alt=""/>
        </a>
    </div>

</section>
